$primary-color: #070707;
$secondary-color: #555555;
$thrid-color: #7B7B8A;
$secondary-bg:#FBFBFB;
$accent-color: #8A47CB;

$primary-font: "Lexend", sans-serif;
$secondary-font: "Kumbh Sans", sans-serif;
$dmsans-font: "DM Sans", sans-serif;
