// Import External Files
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "./partials/_variables.scss";
@import "./partials/_mixins.scss";
@import "./partials/_global.scss";

// Header Section css here
header {
	.nav-link {
		color: $primary-color !important;
	}
}

// Hero Section css here
.hero-container {
	background-image: url("../images/banner-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	padding-top: 150px;

	.hero-content {
		h1 {
			line-height: 90px;
			font-size: 72px;
			.custom-underline {
				padding-bottom: 0;
			}
		}
	}
	.udemy-card {
		height: fit-content;
		top: 40%;
		bottom: 50%;
	}
	.students-card {
		height: fit-content;
		text-align: center;
		bottom: 5%;
		padding: 20px 20px 30px 20px;
		.stu {
			letter-spacing: 10px;
		}
		.profile-icon {
			background-color: #f2f2f2;
			border-radius: 50%;
			padding: 10px;
			width: 60px;
			height: 60px;
		}
		.students {
			img {
				margin-left: -10px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	.chat-card {
		border-left: 6px solid #8a47cb;
		bottom: 7%;
		.chat-icon {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			padding: 10px;
			background-image: linear-gradient(to right, #0063f4, #00f0aa);
		}
	}
}

// Categories Section css here
.categories-container {
	.ctg-title {
		line-height: 60px;
	}
	.category-card {
		background-color: #ffebdf;
		padding: 30px 0;
		&:nth-child(even) {
			background-color: #efffdf;
		}
	}
}

// About Section css here
.about-container {
	background-color: #fff7fc;
	padding-bottom: 270px;
	.about-bg {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -50px;
			width: 130px;
			height: 130px;
			background-image: url("../../assets/images/about-bg-dot.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: -1;
		}
	}
	.exp-card {
		background-image: linear-gradient(to right, #0063f4, #00f0aa);
		padding: 20px 40px;
		h2 {
			font-size: 44px;
		}
		img {
			transition: all 0.3s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	.about-title {
		line-height: 60px;
	}
	.about-mtitle {
		color: #0a0624;
	}
}

// Video Section css here
.video-container {
	background-image: url("../../assets/images/video-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 30px 60px;
   margin-top: -140px;
	.video-title {
		font-size: 70px;
		color: black;
		-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
		span {
			display: block;
			&:last-child {
				padding-left: 40%;
			}
		}
	}
	.play-btn {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		img {
			width: 20px;
			height: 20px;
			right: -3px;
		}
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            animation: circle 1.5s infinite;
        }
	}
}









// Animation Keyframes
@keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}